# Flutter/Dart/Pub related
.dart_tool/
.packages
.pub-cache/
.flutter-plugins
.flutter-plugins-dependencies
.pub/
build/
generated_plugin_registrant.dart

# Android
**/android/app/debug/
**/android/app/profile/
**/android/app/release/
**/android/.gradle/
**/android/captures/
*.iml
*.hprof
local.properties

# iOS
**/ios/Flutter/Flutter.podspec
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/ephemeral/
**/ios/Pods/
**/ios/.symlinks/
**/ios/Runner.xcworkspace/
**/ios/Flutter/App.framework
**/ios/Flutter/Flutter.framework
**/ios/ServiceDefinitions.json
**/ios/Flutter/flutter_export_environment.sh
*.xcuserstate
*.lock
*.xcworkspace

# VS Code
.vscode/

# IntelliJ / Android Studio
.idea/
*.iml

# macOS
.DS_Store

# Windows
Thumbs.db
